<!doctype html>
<html lang="en">
  <head>
    <title>E2E Test</title>
    <style>
      {{sass("styles/index.scss") | safe}}
    </style>
  </head>
  <body>
    <div>
      {% block main %}{% endblock %}
    </div>
  </body>
</html>